body {
    background-color: #3C3C3D;
}

div {
    color: #ECF0F1;
}

hr.vertical {
    height:100vh; 
    /* width:0vh; */
    width: 0vh;
    float: left;
    color: #FFFFFF;
}

hr.horizontal {
    color: #FFFFFF;
}

ul {
    list-style-type:none;
}

input[type="text"] {
    width: 1.5ch;
    margin-left: 1em;
} 

input[type="text"], textarea {
    background-color : #ECF0F1; 
}

input[type=submit] {
    background-color: #3C3C3D;
    border-color: #C99D66;
}
  
#submitVote {
    color: #C99D66;
}

#characterHistory {
    margin-left: 1em;
    color: #C99D66;
}

.read {
    float: left;
    width: 20%;
}

.read .contractData {
    color: #C99D66;
}

.write {
    /* float: right; */
    width: 70%;
    color: #FFFFFF;
}

.history {
    height: 30%;
}






